header {
    background-image: url('../img/post-image.jpg');
    height: $ancho_completo;
    width: $cien_porciento;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $center;

    .container{
        margin-top: 300px;
    }
    
}