.menu {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;

    .logo {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
    }

    .nav {
        display: inline-block;
        width: 91%;
        text-align: right;
        ul{ 
            li {  
                a {
                    padding: 0 10px;
                    float: right;
                    text-decoration: none;
                    text-transform: uppercase; //transforma las minusculas en mayusculas                    
                }

                .buscar {
                    border-radius: 30px;
                    float: right;                    
                }
            }
           
        }
    }
    
}







